body {
    /*display: flex;*/
    font-family: 'Open Sans', sans-serif;
}

/******************
***Overall Stuff***
******************/

#content {
    /*display: block;*/
    /*margin: auto;*/
    /*display: felx;
    justify-content: center;*/
}

input[type="text"],
input[type="password"] {
    width:20%;
    min-width: 150px;
    /*display:block;
    margin:auto;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
}

/*input[type="text"],
input[type="password"]{
    width:20%;
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
    border: solid 5px #969696;
}*/

.submitButton {
    width: 10%;
    min-width: 100px;
    background-color: #FFE66F;
    border: none;
    /*color: white;*/
    color: gray;
    padding: 12px 20px;
    padding: px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    margin: 2px 2px;
    cursor: pointer;
    font-size: 100%;
}

/***************
***Login page***
***************/

.FormViewControl {
    margin: auto;
    text-align: center;
}



#pavementDiv {
    /*display: block;*/
}

#toolBar {
	float: left;
	list-style-type: none;
	padding: 14px 16px;
    /*flex: 1;*/
}

.toolBarButton {
    padding: 8px 8px;
    margin: 3px 3px;
    background-color: gray;
    cursor: pointer;
}

.active {
    background-color: #aeaeea;
}

.toolBarButton:hover:not(.active) {
    background-color: #aeeaea;
}

#canvasDiv {
    float: left;
}

canvas{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    /*flex: 2;*/
}

button {
	padding: 14px 14px;
    
}

ul {
    float: left;
}

.chatBox {
    float: right;
}

li a {
    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


/*button:link, button:visited, button:hover, button:active {
    border-radius: 50px;
    background-color: #23CF5F;
    color: white;
    font-family: Gotham, sans-serif;
    font-size: 20px;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
*/
.header {
	font-size: 200%;
	padding: 10px;
	/*justify-content: center;*/
	border-bottom: solid 1px gray;
}






