body {
    /*display: flex;*/
    font-family: 'Open Sans', sans-serif;
}

/******************
***Overall Stuff***
******************/

#content {
    /*display: block;*/
    /*margin: auto;*/
    /*display: felx;
    justify-content: center;*/
}

.header {
    font-size: 200%;
    padding: 10px;
    /*justify-content: center;*/
    border-bottom: solid 1px gray;
}

input {
    padding: 12px 20px;
}

input[type="text"],
input[type="password"] {
    width:20%;
    min-width: 150px;
    /*display:block;
    margin:auto;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
}

input[type="submit"] {
        width: 10%;
    min-width: 100px;
    background-color: #FFE66F;
    border: none;
    color: gray;
    padding: 12px 20px;
    padding: px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    font-size: 100%;
    border-radius: 5px;
}

.submitButton {
    width: 10%;
    min-width: 100px;
    background-color: #FFE66F;
    border: none;
    color: gray;
    padding: 12px 20px;
    padding: px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    font-size: 100%;
    border-radius: 5px;
}

/************
***Top Bar***
************/
.mainNav {
    vertical-align: middle;
    float: right;
    /*width: 10%;*/
    min-width: 50px;
    background-color: #FFE66F;
    border: none;
    color: gray;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    margin: 1px 1px;
    cursor: pointer;
    font-size: 50%;
    border-radius: 5px;
}


/***************
***Login page***
***************/

.FormViewControl {
    margin: auto;
    text-align: center;
}

/***************
***Board Page***
***************/

.publicCheckbox {
    padding: 8px;
}

button {
    padding: 14px 14px;
    
}

/**************
***Pavement***
**************/


#pavementDiv {
    /*height: 100%;*/
    /*display: block;*/
}

#toolBar {
	/*float: left;*/
	list-style-type: none;
	/*padding: 14px 16px;*/
    /*flex: 1;*/
}

.toolBarButton {
    background-color: #FFE66F;
    border: none;
    color: gray;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    font-size: 100%;
    border-radius: 5px;
}

.active {
    background-color: #aeaeea;
}

.toolBarButton:hover:not(.active) {
    background-color: #aeeaea;
}

#canvasDiv {
   /*margin-bottom: 100px;*/
}

canvas {
    border: 1px solid black;
    width: 100%;
    height: absolute;
    /*height: 100%;*/
    /*min-height: 300px;*/
}

.chatBox {
    /*float: right;*/
}

.chatList {
    border: 1px teal solid;
    height: 225px;
    width: 400px;
    overflow: scroll;
}

.chatAuthor {
    font-weight: bold;
}
