
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-cloud:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-flow-branch:before { content: '\e805'; } /* '' */
.icon-publish:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e807'; } /* '' */
.icon-language:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-record:before { content: '\e80c'; } /* '' */
.icon-progress-0:before { content: '\e80d'; } /* '' */
.icon-stop:before { content: '\e80e'; } /* '' */
.icon-dot-3:before { content: '\e80f'; } /* '' */
.icon-palette:before { content: '\e810'; } /* '' */
.icon-login:before { content: '\e811'; } /* '' */
.icon-logout:before { content: '\e812'; } /* '' */
.icon-tools:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-export:before { content: '\e815'; } /* '' */
.icon-keyboard:before { content: '\e816'; } /* '' */
.icon-users:before { content: '\e817'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-upload:before { content: '\e819'; } /* '' */
.icon-mouse:before { content: '\e81a'; } /* '' */
.icon-eraser:before { content: '\e81b'; } /* '' */